<h4>日誌詳細</h4>
<div>
  <p>題名：<%= @post.title %></p>
  <p>本文：<%= @post.body %></p>
  <p>日誌に関する画像：<%= image_tag @post.get_image(100,100) %></p>
  <p>投稿者：<%= @post.leader.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
</div>
