<%= render 'searches/retrieval' %>
<div class="container">
  <div class="row">
    <h4>日誌一覧</h4>
      <table class="table">
        <thead>
          <tr>
            <th>題名</th>
            <th>投稿者</th>
            <th>作成日時</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to leader_post_path(post.id) do %><%= post.title %><% end %></td>
            <td><%= post.leader.name %></td>
            <td><%= post.created_at.strftime('%Y/%m,%d') %></td>
            <td><%= link_to "#{post.post_comments.count} コメント", leader_post_path(post.id) %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>