<div class="container">
  <div class="row">
    <h1>全ユーザー</h1>
  </div>
  <div class="row">
      <h2>ユーザー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>作成日時</th>
            <th>実行機能</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%Y/%m,%d') %></td>
            <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか' } %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <div class="row">
    <h2>リーダー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>作成日時</th>
            <th>実行機能</th>
          </tr>
        </thead>
        <% @leaders.each do |leader| %>
          <tr>
            <td><%= leader.name %></td>
            <td><%= leader.email %></td>
            <td><%= leader.created_at.strftime('%Y/%m,%d') %></td>
            <td><%= link_to '削除', admin_leader_path(leader), method: :delete, data: { confirm: '本当に削除しますか' } %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
