<h1>マイページ</h1>
<div>
  <h3><%= @user.full_name %></h3>
  <h3><%= @user.full_name_kana %></h3>
  <h3><%= @user.phone_number %></h3>
  <h3><%= @user.email %></h3>
  <p><%= link_to "プロフィール編集", edit_public_user_path(@user) %></p>

</div>
