<!DOCTYPE html>
<html>
  <head>
    <title>NaChild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% elsif leader_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_leader_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to '日誌投稿フォーム', new_leader_post_path %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "リーダーログイン", new_leader_session_path %>
        </li>
        <li>
          <%= link_to "管理者ログイン", new_admin_session_path %>
        </li>
      <% end %>
  </header>
    <%= yield %>
  </body>
</html>
